.categoryTable{
    color: black;
    background-color: lightgreen;
    padding: 20px;

}
.categoryTable tr {
    background-color: lightblue;
    color: black;
    padding: 20px;
    
}
.categoryTable th, td {
    border: 2px solid blue;
    
}
.categoryTable th, .delete1 {
    background-color: #ffe6f0;
  }
  .categoryTable table {
  border-collapse: collapse;
  width: 100%;
}

