/* Wrap everything in a vertical flex container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header and footer fixed size */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 1rem;
  flex-shrink: 0;
}

.footer {
  height: 20px;
  background-color: #333;
  color: white;
  padding: 1rem;
  flex-shrink: 0;
}
.main-content {
  background-image: url('./appstate.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px;
    margin-top: calc(1rem + 20px); 
    min-height: 100vh; 
    color: white;
    width: 100%;
    position: relative; 
    left: 0;
    overflow: hidden;
}

.main-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.main-content > * {
  position: relative;
  z-index: 1;
}